@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E3F5FF;
}

@font-face {
  font-family: "Oswald";
  src: url(./fonts/oswald/Oswald-Bold.ttf);
}

@font-face {
  font-family: "Ubuntu";
  src: url('./fonts/ubuntu/Ubuntu-Light.ttf');
}

